/**
 * TinyMCE Styles for use with Enlighter
*/
code.EnlighterJSRAW{
	border: dotted 1px #4d79a1 !important;
	border-left: solid 4px #4d79a1 !important;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
	background-color: #f9f9f9 !important;
}
pre.EnlighterJSRAW{
	/*background-color: #f1feff !important;*/
	border: dotted 1px #4d79a1 !important;
	border-left: solid 4px #4d79a1 !important;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	background-color: #f9f9f9 !important;
}

/* Add Language Name */
pre.EnlighterJSRAW:before{
	display: block;
	width: 200px;
	content: "Enlighter: generic";
	height: 10px;
	padding: 0px 0px 15px 0px;
	font-weight: bold;
	color: #4d79a1;	
}

/* Language Descriptions */
pre.EnlighterJSRAW[data-enlighter-language="php"]:before{
	content: "Enlighter: PHP";
}
pre.EnlighterJSRAW[data-enlighter-language="html"]:before{
	content: "Enlighter: HTML";
}
pre.EnlighterJSRAW[data-enlighter-language="css"]:before{
	content: "Enlighter: CSS";
}
pre.EnlighterJSRAW[data-enlighter-language="xml"]:before{
	content: "Enlighter: XML";
}
pre.EnlighterJSRAW[data-enlighter-language="java"]:before{
	content: "Enlighter: Java";
}
pre.EnlighterJSRAW[data-enlighter-language="js"]:before{
	content: "Enlighter: Javascript";
}
pre.EnlighterJSRAW[data-enlighter-language="md"]:before{
	content: "Enlighter: Markdown";
}
pre.EnlighterJSRAW[data-enlighter-language="python"]:before{
	content: "Enlighter: Python";
}
pre.EnlighterJSRAW[data-enlighter-language="ruby"]:before{
	content: "Enlighter: Ruby";
}
pre.EnlighterJSRAW[data-enlighter-language="shell"]:before{
	content: "Enlighter: Shell/Bash";
}
pre.EnlighterJSRAW[data-enlighter-language="sql"]:before{
	content: "Enlighter: SQL";
}
pre.EnlighterJSRAW[data-enlighter-language="c"]:before{
	content: "Enlighter: C";
}
pre.EnlighterJSRAW[data-enlighter-language="cpp"]:before{
	content: "Enlighter: C++";
}
pre.EnlighterJSRAW[data-enlighter-language="csharp"]:before{
	content: "Enlighter: C#";
}
pre.EnlighterJSRAW[data-enlighter-language="nsis"]:before{
	content: "Enlighter: NSIS";
}
pre.EnlighterJSRAW[data-enlighter-language="raw"]:before{
	content: "Enlighter: RAW";
}
pre.EnlighterJSRAW[data-enlighter-language="diff"]:before{
	content: "Enlighter: DIFF";
}
pre.EnlighterJSRAW[data-enlighter-language="ini"]:before{
    content: "Enlighter: Ini/Conf";
}
pre.EnlighterJSRAW[data-enlighter-language="avrasm"]:before{
    content: "Enlighter: AVR Assembler";
}

/* Enlighter Codeblock Toolbar */
#EnlighterToolbar{
	display: block;
	position: absolute;
	height: auto;
	width: auto;
}
#EnlighterToolbar > .editicon{
	/*codeblock-edit-icon.png*/
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
	top: 8px;
	left: 585px;
	border-radius: 5px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABGtJREFUeNrsl0tIG10Ux38TJaik6UKRislKumgEtYhE0Gy0abHqRkXRghKxENSgEqzgo5RqC6m2CAlasRAVn1griA9IwJ2Cgot2ESyiBHVRFYQOUkjVSVcNSY2P1JYuvu+shrlz7vmdc8/93ztCcnKyl39oMv6x/XWAu3fvMj09TWJiYtBx4aIlUCqV3LlzB4CVlZUrBxUEAUEQuHXrFiMjI0iShMfjoaKigoODg8sBNBoNdXV1aLVa37uUlJSrl1UmQ6FQMDAwwOHhIWazmbm5Oba3t6mqquLbt2/nL4FGo+Ht27cBwX/HOjo6iIqKorq6mocPHzI+Pk5sbCyNjY0X94DBYECpVAIgiiLt7e3k5eWFFLy+vh6tVovBYECn06FSqXA4HCgUCtxud8C34b86+2fe2NgY0toDFBQUUF5e7kvk3r172Gw2hoeHmZ+fZ3Bw8OIK/Mw+1MYDSEtL4+nTpzx//pytrS2MRiM2m41Xr17hdrt58eLFGZ/wP7Xd1Go1VquVkZERPnz4QGdnJ729vdTU1BATE0NxcTGnp6d/B0ChUNDT08Pa2hqdnZ20tLQwMzODTqdDr9dTWlqKKIpBfa8NIJPJeP36NZIkYTKZqKqqYmNjg4iICEwmE7W1tWxubp7rf22ApqYmkpKSyMvL4/79+9y4cYPl5WVGR0exWCwsLy8jCAJer/dygMLCQt/zeSXzt9LSUkpKSnj06BFxcXHodDp6e3sZGxtjYmKCsbEx5HI5kiTh9Xrxer1IkhQIoFKp0Ov1qFSqAAC73X5h8IyMDJqammhtbWVvb4/m5ma6urro7u7G5XJhsVgAODk5QalUcnx8zMnJCcfHx745JEkiPD4+nrq6uoDJ7Xb7hQAJCQl0d3fz7t07FhYWsFgs9PT0YDabiYyMpLKy0pepJEmcnp6iVqv5+vUrh4eHvnk8Hk/wHtDr9TidTlwu15mxmzdvYrVaWVpawmaz8ezZMyYnJ3nw4AGZmZkUFRVxdHQU4JOfn09GRgbr6+s4HA5EUcTj8eDxeJCtrKyQkpJCWVmZL6BKpTpTFf/J5HI5T548obq6mo8fPxIdHc3jx48xmUzs7OycUVaz2UxaWhpZWVkIgsD+/r6vEj4ldLlcGI3GoJLsb7m5uUxOTvL9+3c+ffrE7u4uL1++pKOjg9XVVYIdbmFhYcjlcpxOJ+vr6wGCFCDFl3W+Wq3m9u3bLC0tAbC3t4fVamVoaIj3799fumv8j+Hf0oHMzEzCw8NpaGjgy5cv5Obm4nQ6efPmzZUvKtcCyMnJASA1NRW3201bWxvz8/PXErKQAOLj4/n8+TP9/f0sLi6eEZU/DqBUKgP6Ijs7O+QA/sf7lW7F/nvfYDBcK7tf1XV3d/dyAKfTGQAwOztLW1tbSIG1Wi19fX3Mzs4GXO+CXXDOANjtdqamps7N4iqm0WgCdEQURYxGY9BtHrQH2tvbcTgcpKeno9FoQi79z2xFUcTlcjE1NXWuxgj//xv+5wF+DAA+a8oVqv2FRQAAAABJRU5ErkJggg==);
}