<ul>
<li>Added: <a href="https://codex.wordpress.org/Create_A_Network">WordPress Multisite</a> support</li>
<li>Added: <a href="https://www.jsdelivr.com/?query=mootools">JSDELIVR</a> as MooTools CDN Source - feature requested on <a href="https://wordpress.org/support/topic/request-enable-cdn-jsdelivr/">WordPress.org Forums</a></li>
<li>Added: Additional check to the About-Page redirection (triggered on plugin activation) to avoid infinite redirects in case of a broken 3rd party options-caching plugin</li>
<li>Bugfix: The new cache accessibility check (v3.2) did not work on WIN platform</li>
<li>Bugfix: PHP 5.3 Compatibility within the LowLevel Shortcode Filter - thanks to <a href="https://github.com/AndiDittrich/WordPress.Enlighter/issues/52">crislv90 on GitHub</a></li>
</ul>