<ul>
<li>Added: compatibility for <code>async/defer</code> script loading (configuration code is merged with the library) (optional)- feature requested <a href="https://wordpress.org/support/topic/enlighterjs-resources-not-loaded-yet/">on WordPress.org Forums</a></li>
<li>Changed: EnlighterJS library (js) is loaded via cache file <code>cache/enlighterjs.min.js</code></li>
<li>Changed: js/css cache file generation is bound to <code>enqueue</code> hook (performance)</li>
<li>Changed: <code>wp-skltn</code> library updated to <strong>0.24.0</strong></li>
</ul>
