<ul>
<li>Added: EnlighterJS <code>v3.3.0</code></li>
<li>Added: <code>purebasic</code> support - thanks to <a href="https://github.com/EnlighterJS/EnlighterJS/pull/96">gphilippot on GitHub</a></li>
<li>Changed: theme font sizes + line-height are based on relative <code>em</code> values - only the font size of the outer wrapper is set explicitly</li>
<li>Changed: removed &quot;function&quot; highlighting regex from <code>sql</code></li>
<li>Bugfix: added missing languages to the list (abap,scala,qml,verilog)</li>
</ul>
