<p><strong>Note: This release is NOT BACKWARD COMPATIBLE. Custom themes will be lost</strong></p>
<p><strong>EnlighterJS v3 has been released - new themes + new highlighting engine</strong></p>
<ul>
<li>Replaced MooTools Framework by native code - requires IE &gt;= 10</li>
<li><strong>NEW Highlighting Engines</strong> - every language support file has been rewritten</li>
<li>New Tokenizer Engine including a two stage analyzer</li>
<li>Excessive Performance Optimizations</li>
<li>Added: <a href="https://enlighterjs.org/">EnlighterJS v3</a></li>
<li>Added: docker based development mode</li>
<li>Added: ECMA6 Support to Javascript Engine</li>
<li>Added: Copy to clipboard button</li>
<li>Added: <a href="http://docs.ansible.com/ansible/YAMLSyntax.html">YAML</a> Support</li>
<li>Added: <a href="http://lesscss.org/">LESS</a> Support</li>
<li>Added: <a href="http://sass-lang.com/">SASS/SCSS</a> Support</li>
<li>Added: <a href="https://docs.docker.com/engine/reference/builder/">Dockerfile</a> Support</li>
<li>Added: <a href="http://www.w3schools.com/css/css3_intro.asp">CSS Level3</a> Support</li>
<li>Added: <a href="https://msdn.microsoft.com/en-us/powershell/mt173057.aspx">Powershell</a> Support</li>
<li>Added: <a href="https://msdn.microsoft.com/de-de/library/2x7h1hfk.aspx">VisualBasic NET/Classic</a> Support</li>
<li>Added: <a href="https://developer.apple.com/library/prerelease/content/documentation/Swift/Conceptual/Swift_Programming_Language/index.html">Swift</a> Support</li>
<li>Added: Bootstrap4 Theme</li>
<li>Added: Dracula Theme (dark, following <a href="https://draculatheme.com/">draculatheme</a> colors)</li>
<li>Changed: <a href="https://github.com/AndiDittrich/WP-Skeleton">WP-Skeleton</a> is used as Plugin Backend Framework </li>
<li>Changed: All settings are stored in serialized form in <code>enlighter-options</code> instead of single options</li>
<li>Changed: moved settings page to top-level menu</li>
<li>Changed: new settings page</li>
<li>Changed: sessionStorage is used to store the current active tab instead of cookies</li>
<li>Changed: updated the UI components</li>
<li>Changed: <code>wp-skltn</code> library updated to <strong>0.14.0</strong> - MPL 2.0 License</li>
<li>Bugfix: colorpicker sets wrong foreground color which caused unreadable input fields (color lightness calculation)</li>
<li>Cleaned up the internal Plugin Structure</li>
<li>Removed: <code>jquery-cookie</code> dependency</li>
<li>Removed: MooTools framework</li>
<li>Removed: Lighter.js legacy themes (Git, Mocha, MooTools, Panic, Tutti, Twilight)</li>
<li>Removed: most keyword lists from language files (direct regular expressions are used)</li>
</ul>
