
.wpcustomEnlighterJSTabPane .controls li{
	background-color: #f2f2f2;
}
.wpcustomEnlighterJSTabPane .controls li:hover{
	background-color: #e5e5e5;
}
.wpcustomEnlighterJSTabPane .controls .selected, .wpcustomEnlighterJSTabPane .controls .selected:hover{
	background-color: #E4F8FC;
}
/** Symbol styles */
/* Raw Code Pane */
.wpcustomEnlighterJSWrapper pre{
	background-color: #ffffff;
	font-size: 12px;
	color: #000000;
	line-height: 16px;
}
.wpcustomEnlighterJSWrapper .EnlighterJSRawButton{
	color: #A00083;
	border: solid 0px #000000;
}
.wpcustomEnlighterJSWrapper .EnlighterJSRawButton:hover{
	background-color: #F4F8FC;	
}